html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: black;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 2px black solid;
  border-radius: 10%;
  background-color: #b7e7cb;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: #a5d0b7;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") #fdc2bc;
}

div.hidden {
  background: #b7e7ff;
}

div.hidden:hover {
  background: #a5d0e6;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") #eee89c;
}
